<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="Library_Management.services.BookService" behaviorConfiguration="mexBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="Library_Management.services.IBookService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/" />
          </baseAddresses>
        </host>
      </service>
		<service name="Library_Management.services.StudentService" behaviorConfiguration="mexBehaviour">
			<endpoint address="" binding="basicHttpBinding" contract="Library_Management.services.IStudentService">
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
			</endpoint>
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8100/" />
				</baseAddresses>
			</host>
		</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>